/* Lorem ipsum */


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/*NAVIGATION BAR*/

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  padding: 28px 30px;
  font-weight: 700;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;

}

.nav-links:hover {
  cursor: default;
}


a {
  color: #79878C;
  text-decoration: solid;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

img {
  color: #79878C;
}



/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #79878C;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}



/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;

}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: #79878C;
  text-align: center;
  color: #79878C;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}


/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: block;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}


/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: #F2F2F2;
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: #79878C;
}

.project-btn {
  color: #79878C;
  border-color: #79878C;
  padding: 6px 6px;
  border-radius: 10px;
}


.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
}

.skill-title {
  font-weight: 700;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.skill-description {
  color: #757575;
}


.btn-primary {
  color: #79878C;
  font-size: 20px;
  font-weight: 700;
  border-color: #79878C;
  padding: 10px 10px;
  border-radius: 10px;
  background: white;

}

img-button {
  align-items: center;
}

.btn-primary:hover {
  background-color: #79878C;
  color: white;
}


#dev-terms {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dev-terms td,
#dev-terms th {
  border: 1px solid #ddd;
  padding: 20px;
}

#dev-terms tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dev-terms tr:hover {
  background-color: #ddd;
}

#dev-terms th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #77888C;
  color: white;
}

#dev-terms tr:hover {background-color: #77888C;}